@charset "UTF-8";


h1, h2{
    font-size: 1.5rem;
}

h3{
    font-size: 1rem;
    margin-bottom: 15px;


}

.card-header{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 5%;
}

.sub-informations{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 5%;
}

.desc-container{
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.requisitos{
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.card-body{
    display: flex;
    flex-direction: column;
}


.footer-info{
    position: absolute;
    display: flex;
    bottom: 20px;
}

button{
    background-color: rgb(105, 72, 226);
    border-color: rgb(105, 72, 226) ;
    color: white;
}

button:hover{
    background-color: #e73c7e;
    color: white;
}

.card{
    width: 30rem; 
    height: 33rem;
}

@media(max-width: 600px){
    .card{
        width: clamp(17rem, 17rem + 17vw, 25rem); /*25rem*/
        height: 27rem; /*27rem*/
    }

    h1, h2{
        font-size: 1.1rem;
    }
    
    h3{
        font-size: 0.8rem;
        margin-bottom: 10px;
    
    }

    p, li{
        font-size: 0.9rem;
    }

    .requisitos{
        -webkit-line-clamp: 3;
    }

    button{
        max-width: 5rem;
        max-height: 3rem;
        font-size: 0.8rem;
    }

}


